@import "./constants.scss";

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url(../fonts/Gilroy-Font/Gilroy-Black.ttf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: local("Gilroy"),
    url(../fonts/Gilroy-Font/Gilroy-Light.ttf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: local("Gilroy"),
    url(../fonts/Gilroy-Font/Gilroy-Thin.ttf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: local("Gilroy"),
    url(../fonts/Gilroy-Font/Gilroy-Medium.ttf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: local("Gilroy"),
    url(../fonts/Gilroy-Font/Gilroy-ExtraBold.ttf) format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gilroy !important;
  color: #fff;
  background-color: #100a2c;
  font-size: 15px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.portfolio-btn {
  color: #fff !important;
  background: linear-gradient(95.32deg, #a900ff 0%, #ee2a7b 100%);
  border-radius: 100px;
  font-weight: 600;
  padding: 10px 25px;
  margin-left: 100px;
  letter-spacing: 0.03rem;
}

.cheers-txt {
  font-weight: 800;
  color: #ee2a7b;
  font-size: 2rem;
  letter-spacing: 0.03rem;
}

.success-subtitle {
  color: #51c8f7;
  margin-top: -10px;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.success-txt {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 350px;
  margin: auto;
}

.header {
  padding: 30px 0px;
  height: 20vh;
}

.body-container {
  height: 80vh;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.join-btn-continer {
  height: 150px;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// antd styling update
.ant-input {
  width: 100% !important;
  background-color: #fff0 !important;
  border-radius: 100px !important;
  border: 3px solid $text-color !important;
  color: #fff !important;
  padding: 35px 40px !important;
  font-size: 1.5rem !important;
  max-width: 750px !important;
}

.success-conteinr {
  border: 3px solid #51c8f7;
  text-align: center;
  border-radius: 50px;
  max-width: 750px !important;
  width: 100%;
  padding: 35px 40px;
  margin: auto;
}

.ant-btn {
  background-color: $text-color !important;
  border-radius: 100px !important;
  font-size: 1.7rem !important;
  line-height: 20px !important;
  font-weight: 600 !important;
  border-color: $text-color !important;
  padding: 45px 80px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-form {
  max-width: 750px !important;
  margin: auto !important;
}

.ant-form-item-control {
  margin-bottom: 20px !important;
}

.ant-form-item-control-input-content {
  text-align: center !important;
}

.ant-form-item-explain-error {
  margin-left: 20px !important;
  font-weight: 600;
}

// ====================

.get-in-touch-txt {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 20px;
}

.influencer-or-brand-container {
  font-size: 3.5rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
  letter-spacing: 0.03rem;
  color: #fff;
  // margin-top: 150px;
}

.home-container {
  padding: 0 80px;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #100a2c;
  background-image: url(../public/images/mi-background.png);
}

.title {
  // margin-top: 150px;
  color: $primary-color;
  letter-spacing: 0.02rem;
  font-size: 11rem;
  font-weight: 900;
  line-height: 11rem;
}

.sub-title {
  color: $secondary-color;
  font-weight: 600;
  font-size: 9rem;
  line-height: 9rem;
}

.we-are-txt {
  // margin-top: 60px;
  font-weight: 700;
  color: $text-color;
  font-size: 2.4rem;
  letter-spacing: 0.03rem;
}

.social-buttons-container {
  // margin-top: 50px;
}

.coming-soon-txt {
  font-weight: 700;
  color: #fff;
  font-size: 5.8rem;
  line-height: 6.2rem;
  letter-spacing: 0.05rem;
}

.social-btn {
  max-width: 70px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.getting-discovered-txt {
  color: $text-color;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: end;
}

.ant-btn-default {
  margin: auto !important;
}

.brand-logo {
  max-width: 60px;
}

.or-txt {
  font-size: 1.5rem;
}

.double-quotes-img {
  max-width: 30px;
  margin-right: 5px;
}

@media screen and (max-width: 1650px) {
  .we-are-txt {
    font-size: 1.8rem;
  }

  .social-btn {
    max-width: 45px;
  }

  .ant-input {
    padding: 25px 30px !important;
    font-size: 1.2rem !important;
    max-width: 550px !important;
  }

  .success-conteinr {
    max-width: 550px !important;
  }

  .ant-btn {
    background-color: $text-color !important;
    border-radius: 100px !important;
    font-size: 1.2rem !important;
    line-height: 1px !important;
    font-weight: 600 !important;
    border-color: $text-color !important;
    padding: 12px 80px !important;
  }

  .coming-soon-txt {
    font-size: 4.2rem;
    line-height: 4.8rem;
    letter-spacing: 0.03rem;
  }

  .ant-btn {
    font-size: 1.3rem !important;
    line-height: 20px !important;
    padding: 25px 60px !important;
  }

  .sub-title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .influencer-or-brand-container {
    font-size: 2.4rem;
  }

  .title {
    font-size: 8rem;
    line-height: 8rem;
  }
}

.social-buttons-main-container {
  // display: flex;
  // justify-content: space-between;
}

.desktop-hide {
  display: none;
}
.mob-hide {
}

@media screen and (max-width: 1200px) {
  .influencer-or-brand-container {
    font-size: 2.4rem;
    margin-top: 50px;
  }

  .sub-title {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .influencer-or-brand-container {
    margin-top: 50px;
  }

  .header,
  .body-container {
    height: auto;
  }

  .coming-soon-txt {
    margin-bottom: 30px;
  }

  .title {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    height: auto;
    margin-bottom: 10px !important;
  }

  .header {
    padding: 25px 0px;
  }
  .desktop-hide {
    display: block;
  }
  .mob-hide {
    display: none;
  }

  .join-btn-continer {
    height: 40px;
  }

  .home-container {
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #100a2c;
    background-image: url(../public/images/mob-background.png);
  }

  .success-txt {
    font-size: 1rem;
  }

  .portfolio-btn {
    margin: 20px auto;
    font-size: 0.8rem;
    padding: 13px 28px;
  }

  .success-conteinr {
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 30px;
  }

  .cheers-txt {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .success-subtitle {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .cheers-txt {
    margin-bottom: 5px;
  }

  .double-quotes-img {
    max-width: 20px;
  }

  .ant-form-item-explain-error {
    text-align: left !important;
    margin-left: 20px !important;
  }

  .body-container {
    text-align: center;
  }

  .ant-input {
    padding: 10px 30px !important;
    font-size: 1rem !important;
    background-color: #110b2f !important;
  }

  .ant-btn {
    padding: 20px 40px !important;
    font-size: 1.2rem !important;
  }

  .home-container {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 0 30px;
  }
  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .sub-title {
    font-size: 3.3rem !important;
    line-height: 3.3rem !important;
  }

  .coming-soon-txt {
    font-size: 2rem;
    line-height: 2rem;
  }

  .influencer-or-brand-container {
    font-size: 1.4rem;
    margin-top: 0px;
  }

  .or-txt {
    font-size: 0.8rem;
  }

  .social-buttons-container {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
  }

  .getting-discovered-txt {
    font-size: 1.2rem;
  }
  .social-btn {
    max-width: 30px;
    margin: 10px;
  }
  .we-are-txt {
    // margin-top: 20px;
    font-size: 1.8rem;
  }
  .get-in-touch-txt {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1rem;
  }

  .ant-form-item {
    margin-bottom: 0px !important;
  }

  .brand-logo {
    max-width: 35px;
  }

  .getting-discovered-txt-mob {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
}
